html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d9dcd6;
  margin: 0px;
}

.btn-success, .btn-success:disabled {
  color: #343a40 !important; 
  background-color: #ffbd03 !important;
  border-color: #ffbd03 !important;
}

.nav-pills .nav-link.active {
  background-color: #343a40 !important;
}

.nav-item a {
  color: #343a40;
}

.nav-item a:hover {
  color: black;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.message-date {
  font-size: 13px;
  color: #afacac;
}

.user-name + .message-date {
  margin-left: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
}

footer a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #d9dcd6;
  text-decoration: none;
}
