html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d9dcd6;
  margin: 0px;
}

section {
  display: table-cell !important;
}

.btn-success,
.btn-success:disabled {
  color: #343a40 !important;
  background-color: #ffbd03 !important;
  border-color: #ffbd03 !important;
}

#table-div {
  display: table;
  width: 100%;
}

.nav-pills .nav-link.active {
  background-color: #343a40 !important;
}

.nav-item a {
  color: #343a40;
}

.nav-item a:hover {
  color: black;
}

.login-error {
  text-align: center;
}

#table-div,
#main-div,
#meat-area-section div {
  height: calc(100vh - 112px);
}

#main-div {
  display: table-row;
}

#comment-area-section {
  position: relative;
  width: 40%;
  border-right: 5px solid black;
  padding: 0px;
}

#comment-area-container {
  position: absolute;
  bottom: 0;
  padding: 0px;
}

#comment-section {
  padding: 5px;
}

#comment-form-container {
  padding-left: 5px;
  padding-right: 5px;
}

#comment-box {
  width: 100%;
}

#comment-box,
#submit-comment {
  padding: 0px;
}

.comment-form {
  display: flex;
}

#comment-box textarea {
  display: inline-block;
  resize: none;
}

#comment-box .textarea:not([rows]) {
  max-height: 50px;
  min-height: 50px;
}

#submit-comment {
  display: inline-block;
  height: 50px;
  margin-bottom: -10px;
}

#submit-comment button {
  height: 50px;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.message-date {
  font-size: 13px;
  color: #afacac;
}

.user-name + .message-date {
  margin-left: 10px;
}

#meat-area-section {
  width: 60%;
}

#meat-area-section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#meat-area-section img {
  width: 50%;
}

footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
}

footer a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #d9dcd6;
  text-decoration: none;
}
