html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d9dcd6;
  margin: 0px;
}

section {
  display: table-cell !important;
}

.hidden {
  display: none !important;
}

.btn-success,
.btn-success:disabled {
  color: #343a40 !important;
  background-color: #ffbd03 !important;
  border-color: #ffbd03 !important;
}

#table-div {
  display: table;
  width: 100%;
}

/* Nav */
.nav-pills .nav-link.active {
  background-color: #343a40 !important;
}

.nav-item a {
  color: #343a40;
}

.nav-item a:hover {
  color: black;
}

#login-btn,
#sign-up-btn {
  width: 100%;
}

/* For Leaderboard */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 50%;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

caption {
  color: white;
  margin-bottom: 7px;
  font-size: 20px;
  padding: 0px !important;
  text-align: center !important;
  caption-side: top !important;
}

th {
  background: rgba(255, 137, 0, 0.9);
  padding: 10px 20px;
  color: rgba(129, 69, 0, 1);
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgba(0, 0, 0, 0.1);
}

th:first-child {
  border-top-left-radius: 5px;
}

th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}

th:first-child,
td:first-child {
  padding: 7px 8px;
}

td {
  padding: 7px 20px;
  background: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 0.6);
}

.player td {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  background: rgba(215, 215, 215, 1);
  color: rgba(0, 0, 0, 0.8);
}

tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

tr td:last-child {
  border-right: none;
}

.login-error {
  text-align: center;
}

#table-div,
.wrapper,
#main-div,
#cheems-area-section div {
  height: calc(100vh - 112px);
}

#main-div {
  display: table-row;
}

/* For the comment section (both desktop and mobile) */
#comment-area-section {
  position: relative;
  width: 40%;
  border-right: 5px solid black;
  padding: 0px;
}

#comment-area-container {
  position: absolute;
  bottom: 0;
  padding: 0px;
}

#comment-section,
#mobile-comment-section {
  padding: 5px;
}

#mobile-comment-section {
  display: block !important;
}

#comment-form-container,
#mobile-comment-form-container {
  padding-left: 5px;
  padding-right: 5px;
}

#comment-box,
#mobile-comment-box {
  width: 100%;
}

#comment-box,
#mobile-comment-box,
#submit-comment {
  padding: 0px;
}

.comment-form {
  display: flex;
}

.mobile-comment-form {
  display: inline-flex;
  width: 100%;
}

#comment-box textarea,
#mobile-comment-box textarea {
  display: inline-block;
  resize: none;
}

#comment-box .textarea:not([rows]),
#mobile-comment-box .textarea:not([rows]) {
  max-height: 50px;
  min-height: 50px;
}

#submit-comment,
#submit-mobile-comment {
  display: inline-block;
  height: 50px;
  margin-bottom: -10px;
}

#submit-comment button,
#submit-mobile-comment button {
  height: 50px;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.message-date {
  font-size: 13px;
  color: #afacac;
}

.user-name + .message-date {
  margin-left: 10px;
}

/* For rendering Cheems */
#cheems-area-section {
  width: 60%;
  text-align: center;
  margin: auto;
}

#cheems-area-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#speed {
  margin-top: 5px;
  margin-bottom: 5px;
}

#counter span {
  color: #ffbd03;
  font-size: 120%;
}

#press-image-span {
  position: relative;
  top: 20px;
  color: gray;
}

#cheems-area-section img {
  width: 60%;
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
  #cheems-area-section img {
    width: 70%;
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  #cheems-area-section img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  #cheems-area-section img {
    width: 90%;
  }
}
@media screen and (min-width: 540px) and (max-width: 620px) {
  #cheems-area-section img {
    width: 70%;
  }
}
@media screen and (min-width: 480px) and (max-width: 540px) {
  #cheems-area-section img {
    width: 80%;
  }
}
@media screen and (min-width: 430px) and (max-width: 480px) {
  #cheems-area-section img {
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  #cheems-area-section img {
    width: 100%;
  }
}

/* Footer */
footer {
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #343a40;
}

footer a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #d9dcd6;
  text-decoration: none;
}
